:root {
    --darkest-blue-color: hsl(243, 96%, 9%);
    --darkest-grey-color: hsl(243, 27%, 20%);
    --mid-grey-color: hsl(243, 23%, 24%);
    --light-grey-color: hsl(243, 23%, 30%);
    --lightest-grey-color: hsl(240, 6%, 70%);
    --smoky-white-color: hsl(250, 6%, 84%);
    --white-color: hsl(0, 0%, 100%);
    --orange-color: hsl(28, 100%, 52%);
    --bright-blue-color: hsl(233, 67%, 56%);
    --dark-blue-color: hsl(248, 70%, 36%);
}

* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(243, 96%, 9%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}