@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass';
}

body {
    background-color: hsl(216, 12%, 8%);
}

.container {
    border-radius: 3rem;
    width: 36rem;
    height: 30rem;
    margin-top: 15%;
    margin-left: 50%;
    transform: translate(-50%, -20%);
    background-color: hsl(213, 19%, 18%);
    position: absolute;
}
.icon {
    border-radius: 50%;
    background-color: hsl(210, 28%, 21%);
    width: 4rem;
    height: 4rem;
    margin-top: 8%;
    margin-left: 10%;
}

.icon img {
    padding: 1.5rem;
}

.text {
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
}

.text h1 {
    color: white;
}

.text p {
    margin-top: 5%;
    color: hsl(216, 12%, 54%);
}

.rating {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}

.number {
    text-align: center;
    color: white;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.number:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.number:focus {
    background-color: hsl(216, 12%, 54%);
}

#submit {
    border-radius: 4rem;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1rem;
    text-align: center;
    height: 3rem;
    letter-spacing: 1rem;
    background-color: hsl(25, 97%, 53%);
    font-weight: bold;
    color: white;
}

#submit:hover {
    background: white;
    color: hsl(25, 97%, 53%);
}

#error {
    text-align: center;
    margin-top: 2%;
    color: red;
    display: none;
}

#hidden-container {
    border-radius: 3rem;
    width: 36rem;
    height: 30rem;
    margin-top: 15%;
    margin-left: 50%;
    transform: translate(-50%, -20%);
    background-color: hsl(213, 19%, 18%);
    position: absolute;
    display: none;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    max-height: 90%;
}

.hidden-img {
    width: 40%;
    margin-top: -5%;
}

.rating-text {
    border: 1px solid hsl(210, 28%, 21%);
    border-radius: 4rem;
    background-color: hsl(210, 28%, 21%);
    margin-top: 5%;
    padding: 0.55rem;
    color: hsl(25, 97%, 53%);
}

.appreciation-text {
    padding-top: 10%;
    color: white;
}

.appreciation-text p {
    padding-top: 1%;
    color: hsl(216, 12%, 54%);
}

#return-button {
    border: transparent;
    border-radius: 4rem;
    height: 2.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    background-color: hsl(25, 97%, 53%);
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
}

#return-button:hover {
    background: white;
    color: hsl(25, 97%, 53%);
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 100%;
        margin-top: 100%;
    }
    #hidden-container {
    width: 100%;
    margin-top: 100%;        
    }
}