@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --body-background-color: hsl(235, 18%, 26%);
    --text-color: hsl(234, 29%, 20%);
    --button-color: hsl(234, 29%, 20%);
    --hover-and-error-color: hsl(4, 100%, 67%);
}

body {
    background-color: var(--body-background-color);
}

main {
    background-color: white;
    border-radius: 5vh;
    height: 80vh;
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#first-container {
    display: flex;
    background-color: white;
    border-radius: 3vh;
    margin: 1.5rem;
    height: 90%;
    width: 95%;
    visibility: visible;
}

.left {
    border-radius: 3vh;
    width: 55%;
    height: 100%;
}

.left-text {
    border-radius: 3vh;
    color: var(--text-color);
    font-weight: bold;
    height: 90%;
    width: 90%;
    margin: 1.5rem;
    margin-top: 2rem;
}

.left-text h1 {
    font-size: 3rem;
}

.left-text ul {
    list-style-type: none;
}

.left-text li {
    list-style-image: url(/newsletter-sign-up-with-success-message-main/assets/images/icon-list.svg);
    list-style-position: inside;
    padding-bottom: 10px;
}

.right {
    background-image: url(/newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-desktop.svg);
    background-size: cover;
    border-radius: 3vh;
    width: 45%;
    height: 100%;
}

label {
    display: inline;
}

input {
    border: 1px solid grey;
    border-radius: 1vh;
    width: 100%;
    height: 10%;
    text-indent: 1rem;
    margin-top: 1rem;
}

input:focus {
    cursor: pointer;
}

#error-text {
    display: inline;
    margin-left: 41%;
    color: var(--hover-and-error-color);
    visibility: hidden;
}

.error-input {
    border-color: var(--hover-and-error-color);
    background-color: hsl(2, 65%, 91%, 0.5);
}

.error-input::placeholder {
    color: red;
}

#first-button {
    background-color: var(--button-color);
    border-radius: 1vh;
    border: transparent;
    color: white;
    width: 100%;
    height: 10%;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

#first-button:hover {
    cursor: pointer;
    background-color: var(--hover-and-error-color);
    box-shadow: var(--hover-and-error-color) 0 1px 5px;
}

::placeholder {
    font-size: 1.1rem;
}

#second-container {
    border-radius: 5%;
    width: 45%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 25%;
    background-color: white;
    visibility: hidden;
}

.second-container-text {
    color: var(--text-color);
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
}

img {
    width: 3rem;
}

.second-container-text h1, p {
    margin-top: 1rem;
}

.second-container-text h1 {
    font-size: 2.5rem;
}

#second-button {
    height: 15%;
    margin-top: 2rem;
    background-color: var(--button-color);
    border-radius: 1vh;
    border: transparent;
    color: white;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

#second-button:hover {
    cursor: pointer;
    background-color: var(--hover-and-error-color);
    box-shadow: var(--hover-and-error-color) 0 1px 5px;
}

span {
    font-weight: bold;
}
